.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.reWrapper:hover .candidateBox{
  z-index: 2 !important;
}
.reWrapper:hover .inputStyle{
  z-index: 1 !important;
}

.wrapper:hover .candidateBox {
  z-index: 1; 
}

.wrapper:hover .inputStyle {
  z-index: 2; 
}

.candidateBox {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; 
}
