.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.reWrapper:hover .candidateBox{
  z-index: 2 !important;
}
.reWrapper:hover .inputStyle{
  z-index: 1 !important;
}


.inputStyle {
  position: relative; 
  z-index: 1;
  width: 100%;
  height: 100%;
}

.candidateBox {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; 
}

.wrapper:hover .candidateBox {
  z-index: 1; 
}


.wrapper:hover .inputStyle {
  z-index: 2; 
}



.inputStyle::selection {
    background-color: #E1AFD1;
    color: #5D4037;
}

.ant-input .ant-input-outlined .inputStyle{
    border: none;
    text-align: center;
    height: inherit;
    border-radius: 0;
    caret-color: transparent;
    color: #444; 
    font-weight: 700;
    font-size: 22px;
  }
  
  
  .ant-input:focus {
    background-color: #E1AFD1; 
    box-shadow: none;
  }
  
  .ant-input-error {
    background-color: #D32F2F; 
  }