.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }

  .lightTheme {
    background-color: #ffe6e6; 
  }

  .darkTheme{
    background-color: #2c2c2c; 
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }

  .backButton {
    position: absolute;
    left: 20px; 
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .lightTheme .backButton{
    background-color: #ad88c6;  
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .lightTheme .backButton:hover {
    background-color: #946eb0 !important; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    color: #fff !important;
  }

  .darkTheme .backButton{
    background-color: #555555; 
    color: #fff;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1)
  }

  .darkTheme .backButton:hover {
    background-color: #6d6d6d !important; 
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.2);
    color: #ffe6e6 !important; 
}
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .lightTheme .title{
    color: #ad88c6; 
  }

  .darkTheme .title {
    color: #d197ba;
}
  
  .subtitle {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .lightTheme .subtitle{
    color: #7469b6; 
  }

  .darkTheme .subtitle {
    color: #b65a76; 
}
  
  .statusContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
  }

  .lightTheme .main{
    background-color: #f5d9e8; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
   .darkTheme .main {
      background-color: #3b3b4e; 
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); 
    }
  