.containerStyle  {
  margin: 0 auto; 
}

.containerStyle p{
  cursor: default;
}

.gridStyleLight {
  border: 1px solid #AD88C6;
  height: 80px;
  width: 80px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  text-align: center;
}

.gridStyleDark {
  border: 1px solid #444;
  height: 80px;
  width: 80px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  text-align: center;
}



.cellTop {
  border-top: 2px solid #7469B6;
}

.cellLeft {
  border-left: 2px solid #7469B6;
}

.cellBottom {
  border-bottom: 2px solid #7469B6;
}

.cellRight {
  border-right: 2px solid #7469B6;
}
.outerTop {
  border-top: 3px solid #444;
}

.outerLeft {
  border-left: 3px solid #444;
}

.outerBottom {
  border-bottom: 3px solid #444;
}

.outerRight {
  border-right: 3px solid #444;
}


.cellTopDark {
  border-top: 2px solid #575757;
}

.cellLeftDark {
  border-left: 2px solid #575757;
}

.cellBottomDark {
  border-bottom: 2px solid #575757;
}

.cellRightDark {
  border-right: 2px solid #575757;
}
.outerTopDark {
  border-top: 3px solid #757575;
}

.outerLeftDark {
  border-left: 3px solid #757575;
}

.outerBottomDark {
  border-bottom: 3px solid #757575;
}

.outerRightDark {
  border-right: 3px solid #757575;
}