.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffe6e6; 
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }

  .backButton {
    position: absolute;
    left: 20px; 
    color: #fff;
    background-color: #ad88c6; 
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .backButton:hover {
    background-color: #946eb0 !important; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    color: #fff !important;
  }

  
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ad88c6; 
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    color: #7469b6; 
  }
  
  .statusContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #f5d9e8; 
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  