.containerStyle  {
  /* width: 800px;  */
  margin: 0 auto; 
}

.containerStyle p{
  cursor: default;
}

.gridStyle {
  border: 1px solid #AD88C6;
  height: 80px;
  width: 80px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  text-align: center;
}


.cellTop {
  border-top: 2px solid #7469B6;
}

.cellLeft {
  border-left: 2px solid #7469B6;
}

.cellBottom {
  border-bottom: 2px solid #7469B6;
}

.cellRight {
  border-right: 2px solid #7469B6;
}
.outerTop {
  border-top: 3px solid #444;
}

.outerLeft {
  border-left: 3px solid #444;
}

.outerBottom {
  border-bottom: 3px solid #444;
}

.outerRight {
  border-right: 3px solid #444;
}