 .body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}
 .lightTheme {
  background-color: #FFE6E6; 
  color: #333; 
}

.body h1 {
  font-size: 2.5rem;
  margin: 20px 0;
}

.lightTheme  h1 {
  color: #7469B6; 
}

.body h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.lightTheme  h2 {
  color: #AD88C6;
}
  
.buttons_box {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
  
 .buttons_box >* {
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}
.lightTheme .buttons_box >*{
  color: #FFF;
}
  
 .lightTheme .easy {
  background-color: #E1AFD1;
}
  
.lightTheme .medium {
  background-color: #AD88C6;  
}
  
.lightTheme .hard {
  background-color: #7469B6;
}

.lightTheme .expert{
  background-color: #B65A76;
}
  
.lightTheme .buttons_box > *:hover{
  opacity: 0.9;
  color: #FFF !important;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1) ;
}

.lightTheme .easy:hover{
  background-color:  #d197ba !important;
}
  
.lightTheme .medium:hover{
  background-color:  #946eb0 !important;
}
  
.lightTheme .hard:hover{
  background-color:  #5e56a0 !important;
}
  
.lightTheme .expert:hover{
  background-color: #9c4b65 !important;
}
  

 .darkTheme  {
    background-color: #2c2c2c; 
    color: #f5f5f5; 
  }

  .darkTheme  h1 {
    color: #9c4b65; 
  }

  .darkTheme  h2 {
    color: #d197ba; 
  }

  .darkTheme .easy{
    background-color:  #d197ba;
  }

  .darkTheme .medium{
    background-color:  #946eb0;
  }

  .darkTheme .hard{
    background-color:  #5e56a0;
  }

  .darkTheme .expert{
    background-color: #9c4b65;
  }

  .darkTheme .buttons_box>*{
    color: #333;
  }

  .darkTheme .buttons_box > *:hover {
    opacity: 0.9;
    color: #333 !important;
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.1);
  }

  .darkTheme .easy:hover {
    background-color: #E1AFD1 !important;
  }
  
  .darkTheme .medium:hover {
    background-color: #AD88C6 !important;
  }
  
  .darkTheme .hard:hover {
    background-color: #7469B6 !important;
  }

  .darkTheme .expert:hover{
    background-color: #B65A76 !important;
  }
