.pause_btn{
    color: #fff;
    background-color: #ad88c6; 
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.pause_btn:hover{
    background-color: #946eb0 !important; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    color: #fff !important;
}